@use 'variables';

body{
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header-content, .main-content, .footer-content{
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 variables.$standard-padding;
}

.main-content{
  height: 100%;
}